.womenfilterCollectionContainer {
  width: 95%;
  margin: 20px auto;
}
.womensortBySection {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.womensortBySection span {
  text-transform: uppercase;
  font-size: small;
}

.womenfilter-collection {
  display: flex;
}

.womenfilter-collection .womenfilterSection {
  padding: 10px 30px 10px 10px;
  border-right: 1px solid slategray;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.womenfilterByColour,
.womenfilterByPockets,
.womenfilterByGender,
.womenfilterByFabric {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.womenfilter-collection .womenfilterSection h3 {
  display: flex;
  justify-content: space-between;
}
.womenfilter-collection .womenfilterSection ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.womenfilter-collection .womenfilterSection ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding-right: 5px;
  font-size: smaller;
  text-transform: capitalize;
}

.womenfilter-collection .womenfilterSection ul li input {
  cursor: pointer;
}

.womenfilter-collection .womenfilterResults {
  width: 80%;
  padding: 10px 10px 10px 20px;
  border-left: 1px solid slategray;
}

.womenfilterResults {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.womenfilterResults .womenscrubCard .womenscrubDetails {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}

.womenscrubDetails h3 {
  font-size: 14px;
  max-width: 100%; /* Good, but not enough */
  white-space: nowrap; /* ✅ required */
  overflow: hidden; /* ✅ required */
  text-overflow: ellipsis; /* ✅ required */
  display: block;
}

.womenfilterResults .womenscrubCard {
  cursor: pointer;
  border-radius: 10px;
  padding: 5px;
}

.womenfilterResults .womenscrubImage{
  width: 100%;
  height: auto;
}

.womenscrubImage .img{
  width: 100%;
}

.womenscrubCard:hover {
  /* border-top:1px solid gray ;
  border-left:1px solid gray ; */
  box-shadow: 4px 4px 5px rgba(116, 115, 115, 0.374);
  transform: scale(1.01);
  transition: all .1s ease-in-out;
}

.womensortProduct {
  border: none;
}

.womensortProduct:focus {
  outline: none;
}

.womensortProduct option {
  text-transform: capitalize;
  font-size: small;
}

.womenscrubDetails .womenaddToCartbtn {
  background-color: rgb(80, 194, 80);
  width: 100%;

  border-radius: 5px;
  text-align: center;
  padding: 5px 0;
}

@media screen and (max-width: 468px) {
  .womenfilter-collection .womenfilterSection {
    padding: 10px;
  }

  .womenfilter-collection .womenfilterSection ul li {
    margin-left: 5px;
    margin-right: 5px;
    gap: 10px;
  }

  .womenfilter-collection .womenfilterSection ul li input {
    cursor: pointer;
    margin-left: 10px;
  }

  /* .womenfilter-collection .womenfilterResults {
    width: 80%;
    padding: 10px 10px 10px 20px;
    border-left: 1px solid slategray;
  }

  .womenfilterResults {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }

  .womenfilterResults .womenscrubCard .womenscrubDetails {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
  }

  .womenscrubDetails h3 {
    font-size: 14px;
    max-width: 100%; 
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    display: block;
  }

  .womenfilterResults .womenscrubCard {
    cursor: pointer;
  }

  .womensortProduct {
    border: none;
  }

  .womensortProduct:focus {
    outline: none;
  }

  .womensortProduct option {
    text-transform: capitalize;
    font-size: small;
  } */
}
@media screen {
  .womenfilter-collection .womenfilterSection {
    padding: 10px;
  }

  .womenfilter-collection .womenfilterSection ul li {
    margin-left: 5px;
    margin-right: 5px;
    gap: 10px;
  }

  .womenfilter-collection .womenfilterSection ul li input {
    cursor: pointer;
    margin-left: 10px;
  }

  /* .womenfilter-collection .womenfilterResults {
    width: 80%;
    padding: 10px 10px 10px 20px;
    border-left: 1px solid slategray;
  }

  .womenfilterResults {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }

  .womenfilterResults .womenscrubCard .womenscrubDetails {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
  }

  .womenscrubDetails h3 {
    font-size: 14px;
    max-width: 100%; 
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    display: block;
  }

  .womenfilterResults .womenscrubCard {
    cursor: pointer;
  }

  .womensortProduct {
    border: none;
  }

  .womensortProduct:focus {
    outline: none;
  }

  .womensortProduct option {
    text-transform: capitalize;
    font-size: small;
  } */
}
