.aboutRamya {
  display: flex;
  padding: 30px 70px;
  flex-direction: column;
  gap: 10px;
}

.aboutRamya .Readmorebtn {
  display: flex;
  align-items: center;
  gap: 2px;
  border: 1px solid black;
  width: fit-content;
  padding: 5px 30px;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .aboutRamya {
    padding: 25px 25px;
    font-size: smaller;
  }

  .aboutRamya .Readmorebtn {
    padding: 5px 20px;
  }
}
@media screen and (min-width: 468px) and (max-width: 768px) {
  .aboutRamya {
    padding: 25px 25px;
    font-size: smaller;
  }

  .aboutRamya .Readmorebtn {
    padding: 5px 20px;
  }
}
