.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding : 50px 100px;
    color:rgb(41, 47, 53);
    margin-bottom: 25px;
    border-top-right-radius: 200px ;
    
}

.footer section .head{
    font-size: x-large;
    font-weight: bold;
    color:rgb(57, 63, 70)
}

.footer section{
    display: flex ;
    flex-direction: column;
    gap:10px
}

.contactUs {
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 1;
  border-bottom-right-radius: 200px;
  margin-bottom: 25px;
}
.contactUs p {
  font-size: xx-large;
  width: 40%;
}

.contactUs .contact-Us-Input-Container {
  width: 60%;
}

.contactUs .contact-Us-Label {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border-bottom: 2px solid rgb(197, 197, 197);
}

.contactUs .contact-Us-Label input {
  font-size: x-large;
  font-weight: bold;
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  color: rgb(197, 197, 197);
}

.contactUs .contact-Us-Label input::placeholder {
  color: rgb(197, 197, 197);
  opacity: 1;
}

