.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: larger;
  position: fixed;
  width: 100%;
  z-index: 1000;
  border: 1px solid rgba(0, 0, 0, 0.288);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.829);
}

.navBar .left {
  display: flex;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
  font-size: xx-large;
  font-weight: 900;
}

.logo:hover {
  cursor: pointer;
}

li {
  list-style: none;
  padding: 0 20px;
}

.menuBar {
  display: flex;
  /* justify-content: space-around; changed from space-between for better spacing */
  align-items: center;
  font-weight: 600;
  gap: 5px; /* Adds consistent spacing between menu items */
  padding: 0 0.2rem;
}

.menuBar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuBar li {
  position: relative;
  display: inline-block;
}

.menuBar .Link {
  color: rgb(49, 49, 163);
  text-decoration: none;
  transition: color 0.3s ease;
}

.menuBar .Link:hover {
  color: rgba(49, 49, 163, 0.637);
  text-decoration: underline;
  cursor: pointer;
}

.cartMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  gap: 1rem;
}

.cartMenu li:hover {
  color: rgb(72, 75, 78);
  cursor: pointer;
}

.cartMenu .login .admin-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: black;
}

.admin-section .admin-profile {
  position: relative;
}

.user-profile {
  position: relative;
}

.cart .cartCount {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  padding-right: 10px;
}

.cartCount span {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1rem;
  background: white;
  color: red;
  border-radius: 50%;
  align-content: center;
  text-align: center;
  height: 1rem;
  width: 1rem;

  color: rgb(49, 49, 163);
}

@media screen and (max-width: 480px) {
  .logo {
    padding-left: 20px;
    font-size: x-large;
  }

  li {
    list-style: none;
    padding: 0 5px;
    font-size: medium;
  }

  .menuBar {
    /* font-size: medium; */
    display: none;
  }

  .cartMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
  }
}


@media screen and (min-width: 481px) and (max-width: 703px) {
  .menuBar {
    display: none;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .logo {
    padding-left: 20px;
    font-size: x-large;
  }

  li {
    list-style: none;
    padding: 0 5px;
    font-size: medium;
  }

  .menuBar {
    font-size: medium;
  }

  .cartMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .logo {
    padding-left: 20px;
    font-size: x-large;
  }

  li {
    list-style: none;
    padding: 0 5px;
    font-size: large;
  }
}
