.menfilterCollectionContainer {
  width: 95%;
  margin: 20px auto;
}
.mensortBySection {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.mensortBySection span {
  text-transform: uppercase;
  font-size: small;
}

.menfilter-collection {
  display: flex;
}

.menfilter-collection .menfilterSection {
  padding: 10px 30px 10px 10px;
  border-right: 1px solid slategray;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.menfilterByColour,
.menfilterByPockets,
.menfilterByGender,
.menfilterByFabric {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menfilter-collection .menfilterSection h3 {
  display: flex;
  justify-content: space-between;
}
.menfilter-collection .menfilterSection ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menfilter-collection .menfilterSection ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding-right: 5px;
  font-size: smaller;
  text-transform: capitalize;
}

.menfilter-collection .menfilterSection ul li input {
  cursor: pointer;
}

.menfilter-collection .menfilterResults {
  width: 80%;
  padding: 10px 10px 10px 20px;
  border-left: 1px solid slategray;
}

.menfilterResults {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.menfilterResults .menscrubCard .menscrubImage{
  width: 100%;
  height: auto;
}

.menscrubImage .img{
  width: 100%;
  width: 100%;
}

.menfilterResults .menscrubCard .menscrubDetails {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}

.menscrubDetails h3 {
  font-size: 14px;
  max-width: 100%; /* Good, but not enough */
  white-space: nowrap; /* ✅ required */
  overflow: hidden; /* ✅ required */
  text-overflow: ellipsis; /* ✅ required */
  display: block;
}

.menfilterResults .menscrubCard {
  cursor: pointer;
  border-radius: 10px;
  padding: 5px;
  width: 100%;
}

.menscrubCard:hover {
  /* border-top:1px solid gray ;
  border-left:1px solid gray ; */
  box-shadow: 4px 4px 5px rgba(116, 115, 115, 0.374);
  transform: scale(1.01);
  transition: all 0.1s ease-in-out;
}

.mensortProduct {
  border: none;
}

.mensortProduct:focus {
  outline: none;
}

.mensortProduct option {
  text-transform: capitalize;
  font-size: small;
}

.menscrubDetails .menaddToCartbtn {
  background-color: rgb(80, 194, 80);
  width: 100%;

  border-radius: 5px;
  text-align: center;
  padding: 5px 0;
}

@media screen and (max-width: 468px) {
  .menfilter-collection .menfilterSection {
    padding: 10px;
  }

  .menfilter-collection .menfilterSection ul li {
    margin-left: 5px;
    margin-right: 5px;
    gap: 10px;
  }

  .menfilter-collection .menfilterSection ul li input {
    cursor: pointer;
    margin-left: 10px;
  }

  .menfilterResults {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 20px;
  }

  @media screen and(max-width:780px) {
    .menfilterResults {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      gap: 20px;
    }
  }

  /* .menfilter-collection .menfilterResults {
    width: 80%;
    padding: 10px 10px 10px 20px;
    border-left: 1px solid slategray;
  }

  .menfilterResults {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }

  .menfilterResults .menscrubCard .menscrubDetails {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
  }

  .menscrubDetails h3 {
    font-size: 14px;
    max-width: 100%; 
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    display: block;
  }

  .menfilterResults .menscrubCard {
    cursor: pointer;
  }

  .mensortProduct {
    border: none;
  }

  .mensortProduct:focus {
    outline: none;
  }

  .mensortProduct option {
    text-transform: capitalize;
    font-size: small;
  } */
}
@media screen {
  .menfilter-collection .menfilterSection {
    padding: 10px;
  }

  .menfilter-collection .menfilterSection ul li {
    margin-left: 5px;
    margin-right: 5px;
    gap: 10px;
  }

  .menfilter-collection .menfilterSection ul li input {
    cursor: pointer;
    margin-left: 10px;
  }

  /* .menfilter-collection .menfilterResults {
    width: 80%;
    padding: 10px 10px 10px 20px;
    border-left: 1px solid slategray;
  }

  .menfilterResults {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }

  .menfilterResults .menscrubCard .menscrubDetails {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
  }

  .menscrubDetails h3 {
    font-size: 14px;
    max-width: 100%; 
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    display: block;
  }

  .menfilterResults .menscrubCard {
    cursor: pointer;
  }

  .mensortProduct {
    border: none;
  }

  .mensortProduct:focus {
    outline: none;
  }

  .mensortProduct option {
    text-transform: capitalize;
    font-size: small;
  } */
}
